    <img class="rounded-circle" src="{{ author.getProfilePhoto().getFile().getUrl() }}" alt="Generic placeholder image" width="140" height="140">
    <h4>{{ author.getName() }}</h4>
    <small>{{ author.getBiography() }}</small>